<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./parts/header'); %>
</head>
<body class="container">

<header>
    <%- include('./parts/up'); %>


   

          <div class="jumbotron">
    <center>
    <div class="signF_rm">
    
    <form class="form" method="post" action = "/a/ingreso/usuario/verificar" id="form_login">
        <h3 class="title">Ingrese a su panel</h3> 

        <div class="inputContainer">
            <input type="text" name = "email" id = "email" class="input" autoComplete="email" required placeholder="a">
            <label for="" class="label">Correo</label>
        </div>

        <div class="inputContainer">
            <input type="text" name = "password" id = "password" class="input" placeholder="a">
            <label for="" class="label">Clave</label>
        </div>

        <div>
            <input type="checkbox" name="remember-me" id="remember-me"/>
            Recordarme
        </div>
        <br>
        <div>
            <a href=".forgot-password"> ¿Olvidó su contraseña?</a>
        </div>
        
        
        <input type="submit" class="submitBtn" value="Entrar">
        <br>
        

        <div  class="inputContainer">
          <b style="color:#788078">¿No se ha registrado todavía?</b>
          <a href="/register">
            Registrarse
          </a>
        </div>

      </form>
    </center>
    </div>
    </div>   


<script>


const form = document.getElementById("form_login");

form.addEventListener("submit", submitForm);

async function submitForm(e){

e.preventDefault()
alert("asdf");
const postUrl = "<%= global_url %>" + "/a/usuario/entrar"

const email = document.getElementById("email");
const password = document.getElementById("password");

let objl ={
    email:email.value,
    password:password.value
}

const gereni = await fetch(postUrl,
{
    method : 'POST',
    headers:{
        'Content-Type':'application/json',                   
    },                
    body:JSON.stringify(objl)
})
const redirectUrl = "<%= global_url %>" + "/panel"
window.location.href = redirectUrl;
}


</script>


    <%- include('./parts/footer'); %>
