<%- include("./partials/header") %>
<br>

<style>a{text-decoration:none;margin-left:10px;}</style>

<script>

let array_items = new Array();

</script>

<center><h3>Historial</h3></center>

<div class = "container">

<form action="/save_sub_datos" method="post" style = "/*background-color:#99AA99;*/">
    <div id = "pt"></div>
    <input type = "hidden" name = "nditems" value = "545">
    <input type = "hidden" name = "id_primaria" value = "<%= id_primaria %>">
    <div class="form-group row">
        <label for="presupuesto_n" class="col-sm-2 col-form-label">
            Presupuesto Nº
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "presupuesto_n" name = "presupuesto_n" value = "">
            <input type = "hidden" id = "ik_presupuesto_n" name = "ik_presupuesto_n" value = "_">
        </div>
    </div>
    <div class="form-group row">
        <label for="consulta" class="col-sm-2 col-form-label">
            Consulta
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "consulta" name = "consulta" value = "">
            <input type = "hidden" id = "ik_consulta" name = "ik_consulta" value = "_">
        </div>
    </div>    
    <div class="form-group row">
        <label for="nombre" class="col-sm-2 col-form-label">
            Nombre
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "nombre" name = "nombre" value = "">
            <input type = "hidden" id = "ik_nombre" name = "ik_nombre" value = "_">
        </div>
    </div>
    <div class="form-group row">
        <label for="edad" class="col-sm-2 col-form-label">
            Edad
        </label>
        <div class="col-sm-10">               
            <input type = "text" id = "edad" name = "edad" value = "">
            <input type = "hidden" id = "ik_edad" name = "ik_edad" value = "_">
        </div>
    </div>
    <div class="form-group row">
        <label for="direccion" class="col-sm-2 col-form-label">
            Dirección
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "direccion" name = "direccion" value = "">
            <input type = "hidden" id = "ik_direccion" name = "ik_direccion" value = "_">
        </div>
    </div>
    <div class="form-group row">
        <label for="telefono" class="col-sm-2 col-form-label">
            Teléfono
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "telefono" name = "telefono" value = "">
            <input type = "hidden" id = "ik_telefono" name = "ik_telefono" value = "_">
        </div>
    </div>
    <div class="form-group row">
        <label for="e_civil" class="col-sm-2 col-form-label">
            E. civil
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "e_civil" name = "e_civil" value = "">
            <input type = "hidden" id = "ik_e_civil" name = "ik_e_civil" value = "_">
        </div>
    </div>
    <div class="form-group row">
        <label for="prec_trabajo" class="col-sm-2 col-form-label">
            Prec. trabajo
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "prec_trabajo" name = "prec_trabajo" value = "">
            <input type = "hidden" id = "ik_prec_trabajo" name = "ik_prec_trabajo" value = "_">
        </div>
    </div>
    <div class="form-group row">
        <label for="terminacion" class="col-sm-2 col-form-label">
            Terminacion
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "terminacion" name = "terminacion" value = "">
            <input type = "hidden" id = "ik_terminacion" name = "ik_terminacion" value = "_">
        </div>
    </div>    
    <div class="form-group row">
        <label for="ocupacion" class="col-sm-2 col-form-label">
            Ocupación
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "ocupacion" name = "ocupacion" value = "">
            <input type = "hidden" id = "ik_ocupacion" name = "ik_ocupacion" value = "_">
        </div>
    </div>
    <div class="form-group row">
        <label for="otros_datos" class="col-sm-2 col-form-label">
            Otros datos
        </label>
        <div class="col-sm-10">
            <input type = "text" id = "otros_datos" name = "otros_datos" value = "">
            <input type = "hidden" id = "ik_otros_datos" name = "ik_otros_datos" value = "_">
        </div>
    </div>

<br>

<% data.forEach(function( sub_dato) { %>


    <% if(sub_dato.tipo > 1){ %>
        <% if(sub_dato.tipo === 2){ %> 
            <script>
                document.getElementById("presupuesto_n").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_presupuesto_n").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 3){ %> 
            <script>
                document.getElementById("consulta").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_consulta").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 4){ %> 
            <script>
                document.getElementById("nombre").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_nombre").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 5){ %>
            <script>
                document.getElementById("edad").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_edad").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 6){ %>
            <script>
                document.getElementById("direccion").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_direccion").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 7){ %>
            <script>
                document.getElementById("telefono").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_telefono").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 8){ %>
            <script>
                document.getElementById("e_civil").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_e_civil").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 9){ %>
            <script>
                document.getElementById("prec_trabajo").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_prec_trabajo").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 10){ %>
            <script>
                document.getElementById("terminacion").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_terminacion").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 11){ %>
            <script>
                document.getElementById("ocupacion").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_ocupacion").value = "<%= sub_dato.id %>";
            </script>
        <% } %>
        <% if(sub_dato.tipo === 12){ %>
            <script>
                document.getElementById("otros_datos").value = "<%= sub_dato.sudato %>";
                document.getElementById("ik_otros_datos").value = "<%= sub_dato.id %>";
            </script>
        <% } %>

    <% } else{ %> 

          <script>
                array_items.push({id:"<%= sub_dato.id %>" , data:"<%= sub_dato.sudato %>"});
          </script>  

    <% } %>
<% })%>

<div id = "items"style = "background-color:#AA8899">                           <!--- DIV: ITEMS --->
</div>

<a href = "#"  id = "add" class="btn btn-primary"> Agregar Item </a>        <!--- BTN: ADD ITEM (SUBDATO) --->

<center>
<button type = "submit"  class="btn btn-primary"> Guardar todo </button>       <!--- BTN: GUARDAR --->
<center>
<br><br>* Para borrar items simplemente deje vacío todos los campos de dicho item y al guardar todo, quedará borrado.

</form>  <!--- END FRM --->

</div> <!--- END DIV CONTAINER ---> <!--- PRC PAR sdaf b c INI REC: a + b + c END PRC (TWOPOINTS LANG)--->

<!--div id = "demo">___________________</div-->

<script>

let RESTO = '_';
 
function ExtractField()
{
    let field = ''
    let pos1 = RESTO.indexOf("}")
    let pos2 = RESTO.indexOf("{")
		field = RESTO.substring(pos1 + 1, pos2)
		RESTO = RESTO.substring(pos2 + 1)
    return field
}
  
putItems();
function putItems()
{
    let NITEMS = 0;
    let field1 = '_';
    let field2 = '_';
    let field3 = '_';

    let field4 = '_';
    let field5 = '_';
    let field6 = '_';
    let item_value = "";
    let n=0;
    let cad = "!2";  
    
    let content = `<div class="container" style="background-color:#aabbaa">
          <div class="row">
            <div class="col-sm-4"><center>TRATAMIENTO</center></div>
            <div class="col-sm-2"><center>A Cuenta</center></div>
            <div class="col-sm-4"><center>Honorarios S/.</center></div>
            <div class="col-sm-2"><center>Saldo</center></div>
          </div>
          <div class="row">

            <div class="col-sm-2"><center>Pza Nº</center></div>
            <div class="col-sm-2"><center>Te trab</center></div>
            <div class="col-sm-2"><center>S/.</center></div>
            <div class="col-sm-2"><center>Fecha</center></div>
            <div class="col-sm-2"><center>VºBº</center></div>
            <div class="col-sm-2"><center>S/.</center></div>
          </div>  
        `;
    document.getElementById("items").innerHTML = "";
    NITEMS=0;

    array_items.forEach((citem, index) => {
      n = index+1;
      cad = n.toString();
      row_item = "item" + n;
      item_value = citem.data;
      RESTO = item_value;
      field1 = ExtractField();
      field2 = ExtractField();
      field3 = ExtractField();
      field4 = ExtractField();
      field5 = ExtractField();
      field6 = ExtractField();

       content += `
          <div class="row">
            <input type = "hidden" id="r${cad}c_id" name = "o${cad}c_id" value = "${citem.id}">
            <input class="col-sm" type = "text" id="r${cad}c1" name = "o${cad}c1" value = "${field1}">
            <input class="col-sm" type = "text" id="r${cad}c2" name = "o${cad}c2" value = "${field2}">
            <input class="col-sm" type = "text" id="r${cad}c3" name = "o${cad}c3" value = "${field3}">
            <input class="col-sm" type = "text" id="r${cad}c4" name = "o${cad}c4" value = "${field4}">
            <input class="col-sm" type = "text" id="r${cad}c5" name = "o${cad}c5" value = "${field5}">
            <input class="col-sm" type = "text" id="r${cad}c6" name = "o${cad}c6" value = "${field6}">
          </div>
        `;
        NITEMS++;
    });
    content += `</div>`;
    document.getElementById("items").innerHTML += content;    
    let cor = NITEMS.toString();
    document.getElementById("pt").innerHTML = `<input type = "hidden" name = "nitems" value = "${cor}">`;   
}

window.onload = function()
{

    document.getElementById("add").addEventListener("click", function(event)  // [BTN ADD]
    {
        event.preventDefault();
        array_items.push({id:"_" , data:"}_{}_{}_{}AAAA-MM-DD{}_{}_{"});
        putItems();
    });
}



</script>


<%- include("./partials/footer") %>




